* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: system-ui, sans-serif;
	font-size: 20px;
	line-height: 1.4;

	background-color: #b3c8cd;
}

.messages {
	--width: min(67ch, 95vw);
	/*
	position: absolute;
	z-index: 10;
	top: 1rem;
	left: calc((100vw - var(--width)) / 2);
	width: var(--width);
	*/
	width: min(67ch, 95vw);
	margin-inline: auto;
}

#app {
	margin-inline: auto;
	margin-block: 5rem 2rem;
	display: flex;
	gap: 1rem;
	width: min(67ch, 95vw);
	background-color: #fff;
	box-shadow: 0 6px 16px hsla(0, 0%, 0%, 0.15);
	padding: 1rem;
	border-radius: 4px;
}

#app > * {
	flex: 1;
}

.cardlist {
	border: 1px solid #ddd;
	padding: 0.25rem;
	min-height: 324px;
	/* display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 0.25rem; */

	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit,  minmax(10px, max-content));

	list-style: none;
	text-indent: -9000px;
}

.cardlist > li {
	width: 30px;
	height: 52px;
	border-radius: 4px;
	background-size: cover;

	border: 0.1em solid #fff8;
}

.deck .cardlist > li {
	background: #49443b;
	position: absolute;
	top: 0.25rem;
	left: 0.25rem;
}

.cardlist .color-red { background-color: #901442; }
.cardlist .color-blue { background-color: #366c8e; }
.cardlist .color-yellow { background-color: #f4bd48; }

.cardlist.images .color-red { background-image: url(card-king.jpg); }
.cardlist.images .color-blue { background-image: url(card-queen.jpg); }
.cardlist.images .color-yellow { background-image: url(card-ace.jpg); }

.deck .cardlist { position: relative; }
.yard .cardlist {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	gap: 0.25rem;
}

button {
	font-size: 100%;
	border: 0;
	border-radius: 4px;
	background: #b5b5af;
	color: #080f15;
	padding: 0.5rem;
	width: 100%;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

button:hover {
	background: #a1c977;
}
